.todo_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  margin: 0 auto;
}
.header {
  h1 {
    color: rgb(37, 147, 255);
  }
}
.editor {
  display: flex;
  gap: 10px;
  input {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  button {
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37, 147, 255);
    color: white;
    font-size: 16px;
  }
}
.list {
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.input_wrapper {
  position: relative;
  margin-bottom: 30px;
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 15px 0;
    position: relative;
    &:focus {
      outline: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(37, 147, 255);
    z-index: 1;
    transition: width 0.3s ease-in-out;
  }
  &:focus-within::before {
    width: 100%;
  }
}

.todo_item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: relative;
  &:first-child {
    border-top: 2px solid #ccc;
  }
  input {
    width: 20px;
  }
  .content {
    flex: 1;
  }
  .date {
    font-size: 14px;
    color: gray;
  }
  .btn_delete {
    cursor: pointer;
    padding: 5px 10px;
    color: #333;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
}
